@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 20px;
  font-family: 'Open Sans';
}

$bg-color: #303030;
$channelWidth: 200px;
$row-height: 60px;
@mixin navigation {
  position: absolute;
  height: 60px;
  width: 30px;
  background: #222;
  top: 0;
  cursor: pointer;
}

.channel-day,
.channel-time {
  border-top: 1px solid #383838;
  height: 60px;
  background-color: $bg-color;
  p {
    margin: 0;
    line-height: 15px;
  }
  ul {
    height: 100%;
    position: relative;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: 600;
  }
  li {
    color: #ffffff;
    text-align: center;
    list-style-type: none;
  }
  li.selected {
    background-color: #222222;
    position: relative;
    &:before {
      content: "\a0";
      border-top: 5px solid #E62117;
      display: block;
      height: 0;
      width: 100%;
      position: absolute;
      top: 0px;
    }
  }
}

.channel-day {
  ul {
    display: -webkit-flex;
    /* Safari */
    display: flex;
  }
  li {
    padding: 15px 0;
    -webkit-flex: 7;
    /* Safari 6.1+ */
    -ms-flex: 7;
    /* IE 10 */
    flex: 7;
    cursor: pointer;
  }
}

.channel-time {
  overflow: hidden;
  position: relative;
  z-index: 10;
  left: 0;
  ul {
    transition: all 0.2s;
  }
  li {
    border-right: 1px solid #818181;
    float: left;
    height: 60px;
  }
  p {
    padding: 20px;
  }
  .next {
    @include navigation;
    right: 0;
  }
  .prev {
    @include navigation;
    left: 0;
  }
}

.program-details {
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  position: relative;
  top: -1px;
  z-index: 2;
}

.channel-details {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
  ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    list-style: none;
    height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid #b9b0b0;
    border-left: 1px solid #b9b0b0;
    border-right: 1px solid #b9b0b0;
    padding-left: 5px;
    font-weight: 600;
    font-size: 13px;
  }
  img {
    width: 38px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.epg-details {
  position: relative;
  transition: all 0.2s;
  z-index: 10px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
  }
  li {
    height: 60px;
    position: absolute;
    top: 0;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    // overflow: hidden;
    > a {
      text-decoration: none;
      color: #303030;
    }
    &.active {
      div {
        display: block;
      }
    }
  }
  .running {
    a {
      color: #e62117;
    }
    &:before {
      content: "\a0";
      border-top: 5px solid #E62117;
      display: block;
      height: 0;
      width: 100%;
      position: absolute;
      top: 0px;
    }
  }
}

.channel-row {
  position: relative;
}

.epg-hover {
  
  div {
    width: 410px;
    height: 120px;
    display: none;
    position: absolute;
    top: $row-height + 4;
    left: 0;
    z-index: 19;
    background: #fff;
    box-shadow: 0px 0px 5px 2px #c1c1c1;
  }
  p,
  h3 {
    margin: 8px 0;
    padding-left: 175px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #222;
    line-height: 18px;
  }
  .description {
    font-size: 13px;
  }
  p {
    font-size: 15px;
  }
  img {
    width: auto;
    height: 120px;
    float: left;
  }
}
.bottom-row li div{
  top: ($row-height + 2) * -2;
}
